.App {
  text-align: center;
}
body {
  background-color: #fff;
  overflow: scroll;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
header {
  background-color: grey;
  padding: 2%;
  padding-left: 4%;
  margin-bottom: 2%;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
#header1 {
  background-color: grey;
  padding: 2%;
  margin-bottom: 2%;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn:hover {
  background-color: rgb(185, 223, 255);
  color: #000;
}
#file {
  align-items: center;
  text-align: center;
}
#ip {
  display: none;
}
#ip + label {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 2%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
#ip + label:hover {
  background-color: grey;
}
#logo {
  width: 7%;
  height: 7%;
}
#text {
  background: #000;
  color: #fff;
  border: none;
  padding: 3%;
  margin: 0% 20% 2% 20%;
  border-radius: 1vw;
  cursor: pointer;
  text-decoration: none;
  font-size: 1vw;
  font-family: inherit;
}
#vbtn {
  display: block;
  width: 15vw;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0%;
  margin-top: 2.5%;
}
#data {
  background-color: grey;
  border-radius: 2vw;
  width: min-content;
  padding: 2%;
  padding-right: 4%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 7vw;
  text-align: left;
  white-space: pre-wrap;
}
.hidden {
  display: none;
}
.content {
  padding: 1vw;
  width: 50vw;
  height: fit-content;
  white-space: pre-wrap;
  background-color: #fff;
}
#h11 {
  display: inline;
  margin-left: 7%;
}
#logout {
  float: right;
  padding: 1%;
  margin-right: 0;
  margin-left: 3%;
}
.text {
  padding: 0.25%;
  margin: 0.25%;
}
#textbox {
  width: 25%;
}
#dispmsg {
  background-color: rgb(185, 223, 255);
  padding: 1%;
  font-weight: bold;
}
#new {
  margin-left: 0%;
}
#wd {
  width: 20vw;
  display: inline;
}
#cont {
  padding: 1vw;
  width: 50vw;
  height: 50vw;
  white-space: pre-wrap;
}
.footer {
  position: fixed;
  margin-top: 5%;
  bottom: 0;
  width: 100%;
  padding: 1vw;
  height: 4vw;
  background-color: gray;
}
.delete {
  min-width: 50vw;
  width: fit-content;
  background-color: grey;
  border-radius: 2vw;
  padding: 2%;
  padding-right: 4%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 7vw;
  white-space: pre-wrap;
}
#hamburger {
  float: left;
}
#time {
  margin-left: 15%;
  display: inline;
  font-weight: bold;
}
#version {
  border-radius: 2vw;
  width: min-content;
  padding-right: 4%;
  padding: 0;
  margin-top: 2%;
  margin-bottom: 1vw;
  text-align: left;
  white-space: pre-wrap;
}
.verall {
  background-color: white;
  border-radius: 1vw;
  width: min-content;
  padding: 2%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  white-space: pre-wrap;
}
#no-data {
  background-color: white;
  padding: 2%;
  font-weight: bold;
  font-size: 1.2vw;
  margin-left: 0%;
  margin-top: 1%;
  margin-bottom: 10%;
  text-align: center;
  border-radius: 0.2vw;
}
#logindet {
  font-size: 1vw;
}
.sidebar-left {
  height: 600px;
}

.main {
  width: 300vw;
}

.container {
  margin-left: 200px;
  min-width: 1200px;
  max-height: 500px;
  display: flex;
  top: 10px;
  left: 0;
  bottom: 10px;
  right: 0;
  text-align: left;
}
.mf-react-nodelistview{
  min-height: 500px;
}