@media all and (min-width: 480px) {
    .Login {
      padding: 5%;
      border-radius: 5%;
      background-color: rgb(192, 192, 192);
      margin: auto;
      width: fit-content;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }